<div class="container">
	<h1>Preguntas</h1>
	<div class="text-right">
			<%= link_to "<span class='glyphicon glyphicon-plus'></span> Nueva pregunta".html_safe, new_question_path, class: "btn btn-primary" %>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% @questions.each do |q| %>
				<div class="question">
				<h3><%= link_to q.title, q %></h3>
				<p><%= q.created_at %></p>
				<%= link_to 'Editar', edit_question_path(q) %>

				</div>
			<% end %>
		</div>
	</div>
</div>
