<%= form_for ([@question, @question.answers.build]) do |f| %>
	<div class="form-group">
		<%= f.text_area :body, class: "form-control", placeholder: "Ingresa tu respuesta" %>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-primary pull-right" %>
	</div>
<%  end %>
