<% answers.each do |answer| %>
	<div class="answer" id="answer_<%= answer.id %>">
		<%=answer.body %>
		<%= render 'comment/show', comments: answer.comments %>
		<%= render 'comment/newanswercomment', answer: answer %>
	</div>
<% end %>
